{% extends 'myapp/base.html' %}
{% load widget_tweaks %}
{% block title %}LOGIN{% endblock %}

{% block content %}
    <!-- SECCION CENTRAL -->
    <section class="hero">
        <div class="container h-100 d-flex align-items-start">
            <div class="row w-100">
                <h1 class="hero-title">INICIAR SESIÓN</h1>
                
                <div class="card">      
                    <div class="card-body">
                        <!-- Formulario de Django para login -->
                        <form method="post">
                            {% csrf_token %}
                            
                            <p class="sale-text">Complete sus credenciales:</p>

                            <!-- Campo de correo electrónico (usuario) -->
                            <div class="mb-3">
                                <label for="id_username" class="form-label">Correo Electrónico</label>
                                {{ form.username|add_class:"form-control" }}  <!-- Aquí usamos el campo username de Django -->
                                <small class="text-danger">
                                    {% for error in form.username.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </small>
                            </div>

                            <!-- Campo de contraseña -->
                            <div class="mb-3">
                                <label for="id_password" class="form-label">Contraseña</label>
                                {{ form.password|add_class:"form-control" }}  <!-- Aquí usamos el campo password de Django -->
                                <small class="text-danger">
                                    {% for error in form.password.errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </small>
                            </div>

                            <!-- Botón de enviar -->
                            <div>
                                <button class="btn join-btn">ENTRAR</button>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="col-12 mt-3"></div>
                <div class="col-12 mb-2">
                    <a href="registro.html" class="btn join-btn w-100">Registrarse</a>
                </div>
                <div class="col-12 mt-3"></div>
            </div>
        </div>
    </section>
{% endblock %}
