{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}BLACK{% endblock %}

{% block content %}
    <section class="hero">
        <div class="container h-100 d-flex align-items-start">
            <div class="row">
                <p class="sale-text">MESAS</p>
                <h1 class="hero-title">MESA BLACK</h1>
                <p class="hero-subtitle">Despachos a Todo Chile...</p>

                <div class="container">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">
                                <p class="card-text">Patas de Madera y Fierro en una gran combinación con nuestras Patas Estrella de perfil 50:50 o 75:75 mm dependiendo del tamaño.
                                    La cubierta tiene 4 cms de espesor del mejor Roble de Demolición que vas a ver en el Taller. Puedes pedirla con borde irregular o recto.
                                    
                                    Altura Mesa 76cm app. Lleva patines de altura regulable.
                                </p>
                                <h5 class="card-title">$550.000.-</h5>
                                <a href="{% url 'agregar_al_carrito' 11 %}" class="btn join-btn">COMPRAR</a>
                                <div id="mensaje-container"></div>
                            </div>
                        </div> 

                        <div class="foto-container">
                            <div class="foto">
                                <img src="{% static 'img/black1.jpg' %}" class="card-img-top" alt="...">
                            </div>
                            <div class="foto">
                                <img src="{% static 'img/black2.jpg' %}" class="card-img-top" alt="...">
                            </div>
                            <div class="foto">
                                <img src="{% static 'img/black3.jpg' %}" class="card-img-top" alt="...">
                            </div>
                        </div>
                                                    
                    </div>
                </div>
                

            </div>
        </div>
    </section>
{% endblock %}