{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}COMODA{% endblock %}

{% block content %}
    <section class="hero">
        <div class="container h-100 d-flex align-items-start">
            <div class="row">
                <p class="sale-text">REPISAS</p>
                <h1 class="hero-title">REPISA COMODA</h1>
                <p class="hero-subtitle">Despachos: Region de valparaiso y Region Metropolitana</p>

                <div class="container">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">                                
                                <p class="card-text">Rústica, robusta y lista para una habitación que se hará destacar. Cubierta de 4 cm de espesor, Postigos reutilizados y colores preparados para que usarla se convierta en una experiencia. 1,5 m de largo ; 90 cm de alto y 45 cm de fondo, fabricada en Madera de Demolición. Imágenes son referenciales, los productos variarán de acuerdo a las piezas de madera utilizadas.</p>
                                <h5 class="card-title">430.000.-</h5>
                                <a href="#" class="btn join-btn" onclick="agregarCompra(event)">COMPRAR</a>
                                <div id="mensaje-container"></div>
                            </div>
                        </div> 

                        <div class="foto-container">
                            <div class="foto">
                                <img src="{% static 'img/comoda1.jpg' %}" class="card-img-top" alt="...">
                            </div>
                            <div class="foto">
                                <img src="{% static 'img/comoda2.jpg' %}" class="card-img-top" alt="...">
                            </div>
                            <div class="foto">
                                <img src="{% static 'img/comoda1.jpg' %}" class="card-img-top" alt="...">
                            </div>
                        </div>
                                                    
                    </div>
                </div>
                

            </div>
        </div>
    </section>
{% endblock %}