{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}FRANJAS{% endblock %}

{% block content %}
    <section class="hero">
        <div class="container h-100 d-flex align-items-start">
            <div class="row">
                <p class="sale-text">TABLAS</p>
                <h1 class="hero-title">TABLA FRANJAS</h1>
                <p class="hero-subtitle">Despachos a Todo Chile...</p>

                <div class="container">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">                              
                                <p class="card-text">Tablas de Carne o Picoteo, esa que tú vas a amar cortando carne o con tus invitados. 
                                Tener todo para tus ivitados jamás había sido tan satisfactorio. Hecha con los retazos de la producción de nuestros muebles con varios tipos de madera nativa. 
                                </p>
                                <h5 class="card-title">$60.000.-</h5>
                                <a href="{% url 'agregar_al_carrito' 2 %}" class="btn join-btn">COMPRAR</a>
                                <div id="mensaje-container"></div>
                            </div>
                        </div> 

                        <div class="foto-container">
                            <div class="foto">
                                <img src="{% static 'img/franjas1.jpg' %}" class="card-img-top" alt="...">
                            </div>
                            <div class="foto">
                                <img src="{% static 'img/franjas2.jpg' %}" class="card-img-top" alt="...">
                            </div>
                            <div class="foto">
                                <img src="{% static 'img/franjas3.jpg' %}" class="card-img-top" alt="...">
                            </div>
                        </div>
                                                    
                    </div>
                </div>
                

            </div>
        </div>
    </section>
{% endblock %}