{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}FULL MADERA{% endblock %}

{% block content %}
    <section class="hero">
        <div class="container h-100 d-flex align-items-start">
            <div class="row">
                <p class="sale-text">MESAS</p>
                <h1 class="hero-title">MESA FULL MADERA</h1>
                <p class="hero-subtitle">Despachos a Todo Chile...</p>

                <div class="container">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">                                
                                <p class="card-text">Tablones anchos de Sequoia que se encontraban en bodegas sin darles ningún uso fueron utilizados para crear esta maravilla.
                                    Bordes irregulares, patas que llaman la atención Y muchísimo talento impreso en esta madera milenaria proveniente de USA y que luego cerca del 1900 fue traída a Chile y plantada en Bosques cerca de Futrono.
                                    Las medidas no son exactas y el espacio útil puede variar debido a la irregularidad de la mesa.                                    
                                </p>
                                <h5 class="card-title">$700.000.-</h5>
                                <a href="{% url 'agregar_al_carrito' 10 %}" class="btn join-btn">COMPRAR</a>
                                <div id="mensaje-container"></div>
                            </div>
                        </div> 

                        <div class="foto-container">
                            <div class="foto">
                                <img src="{% static 'img/fullmadera1.jpg' %}" class="card-img-top" alt="...">
                            </div>
                            <div class="foto">
                                <img src="{% static 'img/fullmadera2.jpg' %}" class="card-img-top" alt="...">
                            </div>
                            <div class="foto">
                                <img src="{% static 'img/fullmadera3.jpg' %}" class="card-img-top" alt="...">
                            </div>
                        </div>
                                                    
                    </div>
                </div>
                

            </div>
        </div>
    </section>
{% endblock %}