{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}METAL{% endblock %}

{% block content %}
    <section class="hero">
        <div class="container h-100 d-flex align-items-start">
            <div class="row">
                <p class="sale-text">RACK</p>
                <h1 class="hero-title">RACK METAL</h1>
                <p class="hero-subtitle">Despachos: Region de valparaiso y Region Metropolitana</p>

                <div class="container">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">                               
                                <p class="card-text">Híper robusto y totalmente protagonista.
                                    100% trabajado en madera reciclada y fierros, con terminación rústica.
                                    Mezcla perfecta entre Roble y Fierro.
                                    
                                    Cuenta con 2 repisas de Roble de Demolición, 4 puertas de fierro y espacio en las repisas para guardar lo que necesites.
                                    140 cm de largo; 90 cm de alto y 40 cm de fondo.
                                </p>
                                <h5 class="card-title">$400.000.-</h5>
                                <a href="#" class="btn join-btn" onclick="agregarCompra(event)">COMPRAR</a>
                                <div id="mensaje-container"></div>
                            </div>
                        </div> 

                        <div class="foto-container">
                            <div class="foto">
                                <img src="{% static 'img/metal1.jpg' %}" class="card-img-top" alt="...">
                            </div>
                            <div class="foto">
                                <img src="{% static 'img/metal2.jpg' %}" class="card-img-top" alt="...">
                            </div>
                            <div class="foto">
                                <img src="{% static 'img/metal3.jpg' %}" class="card-img-top" alt="...">
                            </div>
                        </div>
                                                    
                    </div>
                </div>
                

            </div>
        </div>
    </section>
{% endblock %}