{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}ROBLE{% endblock %}

{% block content %}
    <section class="hero">
        <div class="container h-100 d-flex align-items-start">
            <div class="row">
                <p class="sale-text">MESAS</p>
                <h1 class="hero-title">MESA ROBLE</h1>
                <p class="hero-subtitle">Despachos a Todo Chile...</p>

                <div class="container">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">                                
                                <p class="card-text">Es una mesa que se nota siempre. Madera y Fierro con Cantos vivos y tablones de Roble que la hacen única en cada una de sus unidades. Destaca su contraste de líneas naturales con la rectitud del fierro. 

                                    Altura estándar de 76cm. Lleva patines de altura regulable
                                    
                                </p>
                                <h5 class="card-title">$650.000.-</h5>
                                <a href="{% url 'agregar_al_carrito' 12 %}" class="btn join-btn">COMPRAR</a>
                                <div id="mensaje-container"></div>
                            </div>
                        </div> 

                        <div class="foto-container">
                            <div class="foto">
                                <img src="{% static 'img/roble1.jpg' %}" class="card-img-top" alt="...">
                            </div>
                            <div class="foto">
                                <img src="{% static 'img/roble2.jpg' %}" class="card-img-top" alt="...">
                            </div>
                            <div class="foto">
                                <img src="{% static 'img/roble3.jpg' %}" class="card-img-top" alt="...">
                            </div>
                        </div>
                                                    
                    </div>
                </div>
                

            </div>
        </div>
    </section>
{% endblock %}