{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}RUSTICO{% endblock %}

{% block content %}
    <section class="hero">
        <div class="container h-100 d-flex align-items-start">
            <div class="row">
                <p class="sale-text">RACK</p>
                <h1 class="hero-title">RACK RUSTICO</h1>
                <p class="hero-subtitle">Despachos: Region de valparaiso y Region Metropolitana</p>

                <div class="container">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">                               
                                <p class="card-text">Híper robusto y totalmente protagonista.
                                    100% trabajado en madera reciclada y fierros en perfil 70:30 mm con terminación rústica.
                                    El protagonista de la entretención en tu hogar.
                                    180 cm de largo; 60 cm de alto y 45 cm de fondo.
                                    Imágenes son referenciales, todos los productos son distintos debido a la naturaleza del material utilizado.
                                </p>
                                <h5 class="card-title">$380.000.-</h5>
                                <a href="#" class="btn join-btn" onclick="agregarCompra(event)">COMPRAR</a>
                                <div id="mensaje-container"></div>
                            </div>
                        </div> 

                        <div class="foto-container">
                            <div class="foto">
                                <img src="{% static 'img/rustico1.jpg' %}" class="card-img-top" alt="...">
                            </div>
                            <div class="foto">
                                <img src="{% static 'img/rustico2.jpg' %}" class="card-img-top" alt="...">
                            </div>
                            <div class="foto">
                                <img src="{% static 'img/rustico3.jpg' %}" class="card-img-top" alt="...">
                            </div>
                        </div>
                                                    
                    </div>
                </div>
                

            </div>
        </div>
    </section>
{% endblock %}