{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}SIMPLE{% endblock %}

{% block content %}
    <section class="hero">
        <div class="container h-100 d-flex align-items-start">
            <div class="row">
                <p class="sale-text">RACK</p>
                <h1 class="hero-title">RACK SIMPLE</h1>
                <p class="hero-subtitle">Despachos a Todo Chile...</p>

                <div class="container">
                    <div class="row">
                        <div class="card">
                            <div class="card-body">                                
                                <p class="card-text">Nuestro único Rack con Sequoia Milenaria.
                                    Fierros en Perfil 40:40mm y 2 bandejas de Sequoia de 4cm de espesor.
                                    El protagonista de la entretención en tu hogar.
                                    Imágenes son referenciales, todos los productos son distintos debido a la naturaleza del material utilizado.
                                </p>
                                <h5 class="card-title">$300.000.-</h5>
                                <a href="{% url 'agregar_al_carrito' 8 %}" class="btn join-btn">COMPRAR</a>
                                <div id="mensaje-container"></div>
                            </div>
                        </div> 

                        <div class="foto-container">
                            <div class="foto">
                                <img src="{% static 'img/simple1.jpg' %}" class="card-img-top" alt="...">
                            </div>
                            <div class="foto">
                                <img src="{% static 'img/simple2.jpg' %}" class="card-img-top" alt="...">
                            </div>
                            <div class="foto">
                                <img src="{% static 'img/simple1.jpg' %}" class="card-img-top" alt="...">
                            </div>
                        </div>
                                                    
                    </div>
                </div>
                

            </div>
        </div>
    </section>
{% endblock %}