{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}CATALOGO{% endblock %}

{% block content %}
<section class="hero">
    <div class="container h-100 d-flex align-items-start">
        <div class="row">
            <p class="sale-text">CATÁLOGO</p>
            <h1 class="hero-title">CATEGORÍAS</h1>
            <p class="hero-subtitle">Despachos a Todo Chile...</p>

            <div class="container">
                <div class="row">

                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <img src="{% static 'img/tablas.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Tablas</h5>
                                <p class="card-text">Tablas de cocina hechas en Madera, firmes y resistentes para cortar, picar, amasar o servir un picoteo con estilo unico.</p>
                                <a href="{% url 'tablas' %}" class="btn join-btn">Ver Productos</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <img src="{% static 'img/repisas.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Repisas</h5>
                                <p class="card-text">Estantes o cajoneras de Madera para guardar y organizar todo lo que necesitas y complementar la decoración de tu hogar.</p>
                                <a href="{% url 'repisas' %}" class="btn join-btn">Ver Productos</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <img src="{% static 'img/rack.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Rack</h5>
                                <p class="card-text">Rack TV de Madera con espacio suficiente para todos tus equipos electronicos combinando funcionalidad y diseño.</p>
                                <a href="{% url 'rack' %}" class="btn join-btn">Ver Productos</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="card">
                            <img src="{% static 'img/mesa.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Mesas</h5>
                                <p class="card-text">Mesas de Madera unicas e irrepetibles que agregan elegancia y calidez de naturaleza a tu lugar de encuentro y reunión familiar.</p>
                                <a href="{% url 'mesas' %}" class="btn join-btn">Ver Productos</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}