{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}MESAS{% endblock %}

{% block content %}
    <section class="hero">
        <div class="container h-100 d-flex align-items-start">
            <div class="row">
                <p class="sale-text">CATÁLOGO</p>
                <h1 class="hero-title">MESAS</h1>
                <p class="hero-subtitle">Despachos a Todo Chile...</p>

                <div class="container">
                    <div class="row">

                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card">
                                <img src="{% static 'img/fullmadera1.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Mesa Full Madera</h5>
                                  <p class="card-text"></p>
                                  <a href="{% url 'fullmadera' %}" class="btn join-btn">Ver Producto</a>
                                </div>
                            </div>
                        </div>         
                        
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card">
                                <img src="{% static 'img/black1.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Mesa Black</h5>
                                  <p class="card-text"></p>
                                  <a href="{% url 'black' %}" class="btn join-btn">Ver Producto</a>
                                </div>
                            </div>
                        </div>   
                        
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card">
                                <img src="{% static 'img/roble1.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Mesa Roble</h5>
                                  <p class="card-text"></p>
                                  <a href="{% url 'roble' %}" class="btn join-btn">Ver Producto</a>
                                </div>
                            </div>
                        </div>     

                    </div>
                </div>
                

            </div>
        </div>
    </section>
{% endblock %}