{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}RACK{% endblock %}

{% block content %}

    <section class="hero">
        <div class="container h-100 d-flex align-items-start">
            <div class="row">
                <p class="sale-text">CATÁLOGO</p>
                <h1 class="hero-title">RACK</h1>
                <p class="hero-subtitle">Despachos a Todo Chile...</p>

                <div class="container">
                    <div class="row">

                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card">
                                <img src="{% static 'img/rustico1.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Rack Rústico</h5>
                                  <p class="card-text"></p>
                                  <a href="{% url 'rustico' %}" class="btn join-btn">Ver Producto</a>
                                </div>
                            </div>
                        </div>         
                        
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card">
                                <img src="{% static 'img/simple1.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Rack Simple</h5>
                                  <p class="card-text"></p>
                                  <a href="{% url 'simple' %}" class="btn join-btn">Ver Producto</a>
                                </div>
                            </div>
                        </div>   
                        
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card">
                                <img src="{% static 'img/metal1.jpg' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Rack Metal</h5>
                                  <p class="card-text"></p>
                                  <a href="{% url 'metal' %}" class="btn join-btn">Ver Producto</a>
                                </div>
                            </div>
                        </div>       

                    </div>
                </div>
                

            </div>
        </div>
    </section>
{% endblock %}