{% extends 'myapp/base.html' %}
{% block title %}Carro de Compras{% endblock %}

{% block content %}
<section class="hero">
    <div class="container h-100 d-flex align-items-start">
        <div class="row w-100">
            <h1 class="hero-title">CARRO DE COMPRAS</h1>
            <p class="sale-text"></p>

            <!-- Elimina el contenedor extra aquí -->

            <div class="card">
                <div class="card-body">
                    <p class="card-text">Su carro está vacío...</p>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}
