{% extends 'myapp/base.html' %}
{% block title %}LOGIN{% endblock %}

{% block content %}
    <!-- SECCION CENTRAL -->
    <section class="hero">
        <div class="container h-100 d-flex align-items-start">
            <div class="row w-100">
                <h1 class="hero-title">INICIAR SESIÓN</h1>
                                
                <div class="card">      
                    <div class="card-body">
                        <form id="formulario_login" action="">

                            <p class="sale-text">Complete sus credenciales:</p>

                            <div class="mb-3">
                                <label for="" class="form-label">Correo Electronico</label>
                                <input type="text" class="form-control" name="correo" id="correo">
                                <small class="text-danger" id="correo-error"></small>
                            </div>

                            <div class="mb-3">
                                <label for="" class="form-label">Contraseña:</label>
                                <input type="text" class="form-control" name="mensaje" id="mensaje">
                                <small class="text-danger" id="mensaje-error"></small>
                            </div>
                            
                            <div>
                                <button class="btn join-btn">ENTRAR</button>
                            </div>

                           
                            <div id="mensaje-exito" class="alert alert-success" style="display: none;"></div>

                        </form>
                    </div>
                </div>
                <div class="col-12 mt-3"></div>
                <div class="col-12 mb-2">
                    <a href="registro.html" class="btn join-btn w-100">Registrarse</a>
                </div>
                <div class="col-12 mt-3"></div>
            </div>
        </div>
    </section>
{% endblock %}