{% extends 'myapp/base.html' %}

{% block title %}Perfil de Usuario{% endblock %}

{% block content %}
    <section class="hero">
        <div class="container h-100 d-flex align-items-center justify-content-center">
            <div class="row w-100 text-center">
                <h1 class="hero-title">Bienvenido, {{ user.username }}!</h1>

                <div class="card mt-4">
                    <div class="card-body">
                        <h3 class="card-title">Tu Información</h3>
                        <p><strong>Nombre de usuario:</strong> {{ user.username }}</p>
                        <p><strong>Correo electrónico:</strong> {{ user.email }}</p>

                        <div class="mt-4">
                            <a href="{% url 'password_change' %}" class="btn join-btn">Cambiar contraseña</a>
                        </div>

                        <div class="mt-2">
                            <a href="{% url 'index' %}" class="btn join-btn">Volver al Inicio</a>
                        </div>

                        <div class="mt-2">
                            <a href="{% url 'logout' %}" class="btn join-btn">Cerrar sesión</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

