{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}REGISTRO{% endblock %}

{% block content %}
    <!-- SECCION CENTRAL -->
    <section class="hero">
        <div class="container h-100 d-flex align-items-start">
            <div class="row w-100">
                <h1 class="hero-title">REGISTRO DE NUEVOS USUARIOS </h1>

                <div class="col-12 mt-3"></div>
                
                <div class="card">      
                    <div class="card-body">
                        <form id="formulario_registro" action="">
                            <p class="sale-text">FORMULARIO: ingrese sus datos y presione "ENVIAR" para completar su registro.</p>
                            <div class="mb-3">
                                <label for="tipo_usuario" class="form-label">Tipo de Usuario</label>
                                <select class="form-control" name="tipo_usuario" id="tipo_usuario">
                                    <option value="">Seleccione un tipo de usuario</option>
                                    <option value="administrador">Administrador</option>
                                    <option value="cliente">Cliente</option>
                                </select>
                                <small class="text-danger" id="tipo_usuario-error"></small>
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Nombre Completo</label>
                                <input type="text" class="form-control" name="nombre" id="nombre">
                                <small class="text-danger" id="nombre-error"></small>
                            </div>

                            <div class="mb-3">
                                <label for="" class="form-label">Dirección</label>
                                <input type="text" class="form-control" name="direccion" id="direccion">
                                <small class="text-danger" id="direccion-error"></small>
                            </div>

                            <div class="mb-3">
                                <label for="" class="form-label">Telefono</label>
                                <input type="text" class="form-control" name="fono" id="fono">
                                <small class="text-danger" id="fono-error"></small>
                            </div>

                            <div class="mb-3">
                                <label for="" class="form-label">Correo Electronico</label>
                                <input type="text" class="form-control" name="correo" id="correo">
                                <small class="text-danger" id="correo-error"></small>
                            </div>

                            <div class="mb-3">
                                <label for="" class="form-label">Contraseña:</label>
                                <input type="text" class="form-control" name="mensaje" id="mensaje">
                                <small class="text-danger" id="mensaje-error"></small>
                            </div>
                            
                            <div class= "d-grid">
                                <button type="submit" class="btn join-btn">ENVIAR</button>
                            </div>
                            <div id="mensaje-exito" class="alert alert-success" style="display: none;" role="alert">
                                
                            </div>
                        </form>
                       
                    </div>
                </div>
                <div class="col-12 mt-3"></div>
            </div>
        </div>
    </section>
{% endblock %}